<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>My first view</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <h1>¡Bienvenid@ a Ironhack!</h1>
    <p>Puedes acceder a los detalles de tu reserva <a href="/detalles-reserva">en este enlace</a></p>
</body>

</html>